.post {
    width: 100%;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    background-color: #abefcd;
}

.comment {
    width: 100%;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    background-color: #efcdab;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
}

.poster {

}

.tag {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

#new-post-title-label {
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#new-post-content-label {
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#new-post-title {
    display: block;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#new-post-content {
    display: block;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
